<h1><%= @room.room_name %></h1>

<div class="back-link">
  <%= link_to "Back", root_path %>
</div>
<br><br>

<div class="practice-link-list">
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "全問題", room_question_answers_path(@room) %>
    </div>
    <div class="practice-question-count">
      <% count = @question_answers.count %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "1~5回目", room_question_answers_path(@room, study_count: "0~4", title: session[:search_title], word: session[:search_word]) %>
    </div>
    <div class="practice-question-count">
      <% count = @study_counts.select { |key, value| key >= 0 && key < 5}.values.sum || 0 %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "6~10回目", room_question_answers_path(@room, study_count: "5~9", title: session[:search_title], word: session[:search_word]) %>
    </div>
    <div class="practice-question-count">
      <% count = @study_counts.select { |key, value| key >= 5 && key < 10}.values.sum || 0 %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "11回目以上", room_question_answers_path(@room, study_count: "10+", title: session[:search_title], word: session[:search_word]) %>
    </div>
    <div class="practice-question-count">
      <% count = @study_counts.select { |key, value| key >= 10 }.values.sum || 0 %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
</div>

<br>

<div class="practice-link-list">
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 1回目", room_question_answers_path(@room, study_count: 0, title: session[:search_title], word: session[:search_word]) %>
    </div>
    <div class="practice-question-count">
      <% count = @study_counts[0] || 0 %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 2回目", room_question_answers_path(@room, study_count: 1, title: session[:search_title], word: session[:search_word]) %>
    </div>
    <div class="practice-question-count">
      <% count = @study_counts[1] || 0 %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 3回目", room_question_answers_path(@room, study_count: 2, title: session[:search_title], word: session[:search_word]) %>
    </div>
    <div class="practice-question-count">
      <% count = @study_counts[2] || 0 %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 4回目", room_question_answers_path(@room, study_count: 3, title: session[:search_title], word: session[:search_word]) %>
    </div>
    <div class="practice-question-count">
      <% count = @study_counts[3] || 0 %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 5回目", room_question_answers_path(@room, study_count: 4, title: session[:search_title], word: session[:search_word]) %>
    </div>
    <div class="practice-question-count">
      <% count = @study_counts[4] || 0 %>
      <span class="<%= count.zero? ? 'white-text' : 'enamel-green-text' %>"><%= count %></span>
      問
    </div>
  </div>
</div>

<br>

<div class="question-create-link">
  <%= link_to "Create Question", new_room_question_answer_path(@room, title: session[:search_title], word: session[:search_word]) %>
</div>

<br><br>

<div class="question_answer-search-box">
  <%= form_with url: room_path(@room), method: :get, local: true do %>
    <div class="search-field">
      <%= hidden_field_tag :word, params[:word] %>
      <%= label_tag :title, "Select a title", class: 'question_answer-search-label' %>
      <%= select_tag :title, options_from_collection_for_select(@titles, 'title', 'title', selected: params[:title]), include_blank: true, class: 'question_answer-search-title-list' %>
      <%= submit_tag "Title Search", class: 'question_answer-search-do-button' %>
    </div>
  <% end %>

  <%= form_with url: room_path(@room), method: :get, local: true do %>
    <div class="search-field">
      <%= hidden_field_tag :title, params[:title] %>
      <%= label_tag :word, "Word Search", class: 'question_answer-search-label' %>
      <%= text_field_tag :word, params[:word], class: 'question_answer-word-search-bar', value: params[:word], placeholder: '' %>
      <%= submit_tag "Word Search", class: 'question_answer-search-do-button' %>
    </div>
  <% end %>
</div>

<div class="room-top-question-answer-box">
  <% @question_answers.each do |question_answer| %>
    <div class="room-top-question-answer">
      <div class="room-top-title">
        <%= simple_format(question_answer.title) %>
      </div>
      <div class="room-top-question">
        <%= simple_format(question_answer.question) %>
      </div>
      <div class="room-top-answer">
        <%= simple_format(question_answer.answer) %>
      </div>
      <div class="room-top-study_count">
        <%= question_answer.study_count %>
      </div>
      <div class="question-edit-link">
        <%= link_to "Edit", edit_room_question_answer_path(@room, question_answer, title: session[:search_title], word: session[:search_word]) %>
      </div>
      <div class="question-delete-link">
        <%= link_to "Delete", room_question_answer_path(@room, question_answer, title: session[:search_title], word: session[:search_word]), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
      </div>
    </div>
  <% end %>
</div>
