<h1><%= @room.room_name %></h1>

<div class="back-link">
  <%= link_to "Back", root_path %>
</div>
<br><br>

<div class="practice-link-list">
  <div class="practice-link">
<div class="practice-count-display">
    <%= link_to "全問題", room_question_answers_path(@room) %>
    </div>
    <div class="practice-question-count">
      <%= @question_answers.count %>問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 1回目", room_question_answers_path(@room, study_count: 0) %>
    </div>
    <div class="practice-question-count">
      <%= @study_counts[0] || 0 %>問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 2回目", room_question_answers_path(@room, study_count: 1) %>
    </div>
    <div class="practice-question-count">
      <%= @study_counts[1] || 0 %>問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 3回目", room_question_answers_path(@room, study_count: 2) %>
    </div>
    <div class="practice-question-count">
      <%= @study_counts[2] || 0 %>問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 4回目", room_question_answers_path(@room, study_count: 3) %>
    </div>
    <div class="practice-question-count">
      <%= @study_counts[3] || 0 %>問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 5回目", room_question_answers_path(@room, study_count: 4) %>
    </div>
    <div class="practice-question-count">
      <%= @study_counts[4] || 0 %>問
    </div>
  </div>
  <div class="practice-link">
    <div class="practice-count-display">
      <%= link_to "問題 6回目以上", room_question_answers_path(@room, study_count: "5+") %>
    </div>
    <div class="practice-question-count">
      <%= @study_counts.select { |key, value| key >= 5 }.values.sum || 0 %>問
    </div>
  </div>
</div>

<br>

<div class="question-create-link">
  <%= link_to "Create Question", new_room_question_answer_path(@room) %>
</div>

<br><br>

<div class="room-top-question-answer-box">
  <% @question_answers.each do |question_answer| %>
    <div class="room-top-question-answer">
      <div class="room-top-title">
        <%= question_answer.title %>
      </div>
      <div class="room-top-study_count">
        <%= question_answer.study_count %>
      </div>
      <div class="question-edit-link">
        <%= link_to "Edit", edit_room_question_answer_path(@room, question_answer) %>
      </div>
      <div class="question-delete-link">
        <%= link_to "Delete", room_question_answer_path(@room, question_answer), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
      </div>
    </div>
  <% end %>
</div>
