
<div class="question-create-update-top-text">
  <% if @question_answer.persisted? %>
    <h1>Q&A編集ページ</h1>
  <% else %>
    <h1>Q&A作成ページ</h1>
  <% end %>
</div>

<div class="back-link">
  <%= link_to "Back", room_path(@room) %>
</div>
<br><br>
<%= form_with model: [@room, @question_answer], local: true do |f| %>
  <div class="question_answer-form-box">
    <div class="title-form-box">
      Title
      <%= f.text_area :title, class: 'title-form', placeholder: '' %>
    </div>
    <div class="question-form-box">
      Question
      <%= f.text_area :question, class: 'question-form', placeholder: '' %>
    </div>
    <div class="answer-form-box">
      Answer
      <%= f.text_area :answer, class: 'answer-form', placeholder: '' %>
    </div>
    <div class="image-upload-form-box">
      <label>Images (Up to 3)</label>
      <%= f.file_field :images, multiple: true, accept: 'image/png,image/jpeg', direct_upload: true, class: 'image-form' %>
    </div>


    <div class="study_count-form-submit-box">
      <% if @question_answer.persisted? %>
        <div class="study_count-form-box">
          Count
          <%= f.text_field :study_count, class: 'study_count-form' %>
        </div>
      <% end %>
        <div class="question-answer-submit-box-space">
        </div>
        <div>
        <%= f.submit @question_answer.new_record? ? 'Create' : 'Update', class: 'question-answer-submit' %>
        </div>
    </div>
  </div>
<% end %>